.featherChevronDown {
  position: absolute;
  height: 0.86%;
  width: 1.67%;
  top: 2.13%;
  right: 76.46%;
  bottom: 97%;
  left: 21.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.featherChevronRight,
.featherChevronRight1,
.featherChevronRight2,
.featherChevronRight3,
.featherChevronRight4,
.info1Icon {
  position: absolute;
  height: 0.88%;
  width: 1.67%;
  top: 36.1%;
  right: 69.65%;
  bottom: 63.01%;
  left: 28.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.featherChevronRight1,
.featherChevronRight2,
.featherChevronRight3,
.featherChevronRight4,
.info1Icon {
  top: 39.45%;
  bottom: 59.67%;
}
.featherChevronRight2,
.featherChevronRight3,
.featherChevronRight4,
.info1Icon {
  top: 46.14%;
  bottom: 52.98%;
}
.featherChevronRight3,
.featherChevronRight4,
.info1Icon {
  top: 42.79%;
  bottom: 56.32%;
}
.featherChevronRight4,
.info1Icon {
  top: 29.34%;
  right: 70%;
  bottom: 69.78%;
  left: 28.33%;
}
.featherChevronRight4 {
  top: 32.68%;
  bottom: 66.43%;
}
.deskTopProfileCompletionChild {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: var(--colors-humo-200);
  width: 1440px;
  height: 2225px;
}
.deskTopProfileCompletionItem {
  position: absolute;
  height: 13.27%;
  width: 100%;
  top: 2.28%;
  right: 0;
  bottom: 84.45%;
  left: 0;
  border-radius: 0 0 var(--br-2xl) var(--br-2xl);
  background-color: var(--contra-blurple);
}
.deskTopProfileCompletionInner {
  position: absolute;
  height: 13.09%;
  width: 111.94%;
  top: 2.35%;
  right: -11.94%;
  bottom: 84.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.deskTopProfileCompletion1,
.groupIcon {
  position: absolute;
  height: 2.35%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 97.65%;
  left: 0;
}
.groupIcon {
  height: 0.44%;
  width: 63.61%;
  top: 7.5%;
  right: 18.19%;
  bottom: 92.06%;
  left: 18.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.goBack,
.hours {
  position: absolute;
  line-height: 18px;
}
.hours {
  width: 9.93%;
  bottom: 1968px;
  left: 78.47%;
  font-size: var(--regular1-size);
  display: none;
  color: var(--colors-humo-300);
}
.goBack {
  width: 100%;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.goBackWrapper {
  position: absolute;
  height: 0.66%;
  width: 14.44%;
  top: 30.11%;
  right: 8.47%;
  bottom: 69.23%;
  left: 77.08%;
  display: none;
  text-align: center;
  font-size: var(--regular1-size);
  color: var(--colors-humo-800);
}
.cardDesktop1200,
.cardDesktop1200Child {
  position: absolute;
  box-shadow: var(--fuzzy-drop);
}
.cardDesktop1200Child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--colors-white);
}
.cardDesktop1200 {
  height: 68.9%;
  width: 66.67%;
  top: 8.16%;
  right: 16.67%;
  bottom: 22.94%;
  left: 16.67%;
}
.box {
  position: absolute;
  height: 0.44%;
  width: 100%;
  top: 2.35%;
  right: 0;
  bottom: 97.21%;
  left: 0;
  border-radius: var(--br-3xs);
}
.labelTop,
.loremIpsum {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 26px;
}
.labelTop {
  top: -31px;
  left: 0;
  font-size: var(--regular2-size);
  line-height: 23px;
  color: var(--color-black);
}
.featherChevronDown1 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.suffix {
  position: absolute;
  top: 1px;
  right: 2px;
  border-radius: 0 var(--br-mini) var(--br-mini) 0;
  background-color: var(--contra-cielo);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-4xs);
  align-items: center;
  justify-content: center;
}
.input,
.input1 {
  position: absolute;
  top: 0;
  left: 354px;
  border-radius: var(--br-base);
  background-color: var(--colors-white);
  border: 1px solid var(--colors-humo-800);
  box-sizing: border-box;
  width: 283px;
  height: 50px;
}
.input1 {
  left: 0;
}
.groupDiv,
.inputGroup,
.inputParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 637px;
  height: 50px;
}
.groupDiv,
.inputGroup {
  top: 1015px;
  left: 366px;
  font-size: var(--medium-size);
}
.inputGroup {
  top: 1223px;
}
.willThisIndividual {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.studentWithinThe {
  margin: 0;
}
.labelTop4 {
  position: absolute;
  top: -32px;
  left: 0;
  font-size: var(--regular2-size);
  line-height: 8px;
  color: var(--color-black);
}
.input4,
.input5,
.input6 {
  position: absolute;
  top: 1335px;
  left: 366px;
  border-radius: var(--br-base);
  background-color: var(--colors-white);
  border: 1px solid var(--colors-humo-800);
  box-sizing: border-box;
  width: 283px;
  height: 50px;
  font-size: var(--medium-size);
}
.input5,
.input6 {
  left: 720px;
}
.input6 {
  top: 905px;
}
.enterYourPersonalContainer {
  position: absolute;
  top: 335px;
  left: 415px;
  font-size: var(--bold2-size);
  line-height: 40px;
  display: inline-block;
  text-align: center;
  width: 610px;
}
.checkAnyRaces,
.fieldsAreMandatory {
  position: absolute;
  width: 35.14%;
  line-height: 26px;
  display: inline-block;
}
.fieldsAreMandatory {
  height: 1.03%;
  top: 17.76%;
  left: 32.5%;
  font-size: var(--medium-size);
  text-align: center;
}
.checkAnyRaces {
  height: 1.07%;
  top: 55.51%;
  left: 25.42%;
}
.groupParent {
  position: absolute;
  top: 566px;
  left: 366px;
  width: 637px;
  height: 82px;
}
.span {
  font-size: var(--font-size-sm);
}
.lastNameContainer {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 23px;
}
.colorBg {
  position: absolute;
  top: calc(50% - 28px);
  right: 0;
  background-color: var(--contra-cielo);
  width: 44px;
  height: 56px;
  display: none;
}
.selectInput {
  position: absolute;
  width: calc(100% - 70px);
  top: calc(50% - 12px);
  left: 16px;
  line-height: 26px;
  display: inline-block;
  height: 22px;
}
.featherChevronDown8 {
  position: absolute;
  top: calc(50% - 11px);
  right: 11px;
  width: 24px;
  height: 24px;
  display: none;
}
.dropdownNoLabel {
  position: absolute;
  top: 30px;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--colors-humo-200);
  border: 1px solid var(--colors-humo-800);
  box-sizing: border-box;
  width: 283px;
  height: 52px;
  overflow: hidden;
  font-size: var(--medium-size);
  color: var(--colors-humo);
}
.groupContainer,
.lastNameParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 283px;
  height: 82px;
}
.groupContainer {
  top: 667px;
  left: 366px;
  width: 637px;
  font-size: var(--regular2-size);
  color: var(--color-black);
}
.smallerButtonChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-15xl);
  background-color: var(--contra-blurple);
}
.smaller {
  position: absolute;
  height: 69.23%;
  width: 83.94%;
  top: 15.38%;
  left: 6.74%;
  line-height: 28px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smallerButton {
  position: absolute;
  height: 1.91%;
  width: 20.63%;
  top: 72.43%;
  right: 39.65%;
  bottom: 25.66%;
  left: 39.72%;
  text-align: center;
  font-size: var(--bold1-size);
  color: var(--colors-white);
}
.buttonLargeOutlineIco {
  position: absolute;
  height: 1.76%;
  width: 3.33%;
  top: 8.9%;
  right: 78.47%;
  bottom: 89.34%;
  left: 18.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.goBackTo {
  position: absolute;
  height: 0.96%;
  width: 13.19%;
  top: 9.3%;
  left: 22.85%;
  line-height: 24px;
  color: var(--colors-darker-blurple);
  display: inline-block;
}
.rectangleDiv {
  position: absolute;
  top: 523px;
  left: 366px;
  background-color: var(--colors-humo-200);
  width: 708px;
  height: 4px;
}
.inputgroup1869Icon {
  position: relative;
  width: 16.4px;
  height: 18px;
  flex-shrink: 0;
}
.inputgroup1869Wrapper {
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-content: center;
}
.input7,
.suffix7 {
  position: absolute;
  box-sizing: border-box;
}
.suffix7 {
  top: 1px;
  right: 2px;
  border-radius: 0 var(--br-mini) var(--br-mini) 0;
  background-color: var(--contra-cielo);
  width: 42px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-4xs);
  align-items: center;
  justify-content: center;
}
.input7 {
  top: 904px;
  left: 366px;
  border-radius: var(--br-base);
  background-color: var(--colors-white);
  border: 1px solid var(--colors-humo-800);
  width: 283px;
  height: 50px;
  font-size: var(--medium-size);
  color: var(--colors-humo-800);
}
.groupChild {
  position: absolute;
  top: 44px;
  left: 0;
  background-color: var(--colors-humo-200);
  width: 708px;
  height: 4px;
}
.personalDetails {
  position: absolute;
  width: 63.84%;
  top: 0;
  left: 0;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.rectangleGroup,
.rectangleParent {
  position: absolute;
  top: 1110px;
  left: 366px;
  width: 708px;
  height: 48px;
  font-size: var(--semibold-size);
}
.rectangleGroup {
  top: 1442px;
}
.deskTopProfileCompletionChild1 {
  position: absolute;
  top: 1921px;
  left: 366px;
  background-color: var(--colors-humo-200);
  width: 708px;
  height: 4px;
}
.checkBoxtruefalsefalsefal {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--colors-white);
  border: 1px solid var(--colors-humo-800);
}
.americanIndianOr {
  position: absolute;
  top: 2px;
  left: 48px;
  line-height: 32px;
  display: flex;
  align-items: center;
  width: 530px;
  height: 28px;
}
.checkBoxtruefalsefalsefalContainer,
.checkBoxtruefalsefalsefalGroup,
.checkBoxtruefalsefalsefalParent {
  position: absolute;
  top: 1559px;
  left: 366px;
  width: 578px;
  height: 32px;
  color: var(--color-black);
}
.checkBoxtruefalsefalsefalContainer,
.checkBoxtruefalsefalsefalGroup {
  top: 1616px;
}
.checkBoxtruefalsefalsefalContainer {
  top: 1673px;
}
.checkBoxtruefalsefalsefalParent1,
.checkBoxtruefalsefalsefalParent2,
.checkBoxtruefalsefalsefalParent3 {
  position: absolute;
  top: 1730px;
  left: 366px;
  width: 578px;
  height: 32px;
  color: var(--color-black);
}
.checkBoxtruefalsefalsefalParent2,
.checkBoxtruefalsefalsefalParent3 {
  top: 1787px;
}
.checkBoxtruefalsefalsefalParent3 {
  top: 1844px;
}
.deskTopProfileCompletion {
  position: relative;
  width: 100%;
  height: 2720px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--colors-humo);
  font-family: var(--regular);
}
