.groupChild {
  position: absolute;
  height: 48.08%;
  width: 2.99%;
  top: 23.08%;
  right: 0;
  bottom: 28.85%;
  left: 97.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.yourAccount,
.yourApplications,
.yourDashboard {
  position: absolute;
  top: 0;
  line-height: 24px;
  font-weight: 500;
}
.yourAccount {
  left: 76.8%;
  color: var(--color-aquamarine);
}
.yourApplications,
.yourDashboard {
  left: 0;
}
.yourApplications {
  left: 37%;
}
.smallerButtonChild,
.yourAccountParent {
  position: absolute;
  height: 46.15%;
  width: 65.02%;
  top: 26.92%;
  right: 34.98%;
  bottom: 26.92%;
  left: 0;
}
.smallerButtonChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-15xl);
  background-color: var(--colors-verde);
}
.smaller {
  position: absolute;
  height: 69.23%;
  width: 83.94%;
  top: 15.38%;
  left: 6.74%;
  line-height: 28px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.groupParent,
.smallerButton {
  position: absolute;
  height: 100%;
  width: 24.84%;
  top: 0;
  right: 5.85%;
  bottom: 0;
  left: 69.31%;
  text-align: center;
  font-size: var(--bold1-size);
  color: var(--colors-darker-blurple);
}
.groupParent {
  height: 1.91%;
  width: 53.4%;
  top: 3.9%;
  right: 3.33%;
  bottom: 94.19%;
  left: 43.26%;
  text-align: right;
  font-size: var(--medium-size);
  color: var(--colors-white);
  font-family: var(--regular);
}
