.component4Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--contra-cielo);
}
.enEspaol,
.help,
.logIn {
  position: absolute;
  height: 42.11%;
  width: 3.47%;
  top: 28.07%;
  left: 83.82%;
  line-height: 24px;
  font-weight: 500;
  display: none;
}
.enEspaol,
.logIn {
  width: 5.49%;
  left: 91.81%;
}
.enEspaol {
  width: 7.22%;
  left: 72.43%;
}
.fileText3Icon,
.fileText4Icon,
.helpCircle3Icon {
  position: absolute;
  height: 28.07%;
  width: 1.11%;
  top: 35.09%;
  right: 16.53%;
  bottom: 36.84%;
  left: 82.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.fileText4Icon,
.helpCircle3Icon {
  right: 8.75%;
  left: 90.14%;
}
.helpCircle3Icon {
  top: 36.84%;
  right: 96.32%;
  bottom: 35.09%;
  left: 2.57%;
}
.ofThe {
  font-size: var(--regular2-size);
}
.housingChoiceVoucherContainer1 {
  line-break: anywhere;
  width: 100%;
}
.housingChoiceVoucherContainer {
  position: absolute;
  height: 35.09%;
  width: 42.99%;
  top: 36.84%;
  left: 5%;
  letter-spacing: 3px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-montserrat);
  display: none;
  align-items: center;
  font-size: var(--regular-size);
}
.bg {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--colors-humo-200);
}
.bg,
.oval,
.oval2 {
  position: absolute;
  border-radius: var(--br-33xl);
  border: 1px solid var(--colors-humo);
  box-sizing: border-box;
}
.oval {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--colors-white);
}
.oval2 {
  height: 44.44%;
  width: 44.44%;
  top: 27.78%;
  right: 27.78%;
  bottom: 27.78%;
  left: 27.78%;
}
.activeDot,
.formToggleOff {
  position: absolute;
  height: 100%;
  width: 60%;
  top: 0;
  right: 40%;
  bottom: 0;
  left: 0;
}
.formToggleOff {
  height: 35.09%;
  width: 2.36%;
  top: 31.58%;
  right: 28.13%;
  bottom: 33.33%;
  left: 69.51%;
  display: none;
}
.component4,
.heresATimely {
  position: absolute;
  color: var(--colors-humo);
  text-align: left;
}
.component4 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--contra-cielo);
  font-size: var(--medium-size);
}
.heresATimely {
  height: 46.88%;
  width: 40.21%;
  top: 26.56%;
  left: 3.33%;
  font-size: var(--regular-size);
  line-height: 21px;
  display: none;
  align-items: center;
}
.about,
.espaol,
.logOut {
  position: absolute;
  height: 40.63%;
  width: 5.9%;
  top: 29.69%;
  left: 83.4%;
  line-height: 24px;
  display: inline-block;
}
.about,
.logOut {
  width: 12.36%;
  left: 84.31%;
}
.about {
  width: 4.17%;
  left: 80.42%;
  display: none;
}
.bg1 {
  height: 100%;
  width: 97.78%;
  top: 100%;
  right: 2.22%;
  bottom: -100%;
  left: 0;
  background-color: var(--contra-blurple);
}
.bg1,
.oval1,
.oval21 {
  position: absolute;
  border-radius: var(--br-33xl);
  border: 1px solid var(--colors-humo);
  box-sizing: border-box;
}
.oval1 {
  height: 100%;
  width: 53.33%;
  top: 100%;
  right: 0;
  bottom: -100%;
  left: 46.67%;
  background-color: var(--colors-white);
}
.oval21 {
  height: 73.91%;
  width: 37.78%;
  top: 13.04%;
  right: 6.67%;
  bottom: 13.04%;
  left: 55.56%;
}
.bgParent,
.secondaryNav {
  position: absolute;
  height: 35.94%;
  width: 3.13%;
  top: 32.81%;
  right: 15.69%;
  bottom: 31.25%;
  left: 81.18%;
}
.secondaryNav {
  height: 41.03%;
  width: 100%;
  top: 0.64%;
  right: 0;
  bottom: 58.33%;
  left: 0;
}
.clientLogoIcon,
.groupChild {
  position: absolute;
  border-radius: 0 0 var(--br-lg) var(--br-lg);
}
.groupChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--colors-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.clientLogoIcon {
  height: 51.92%;
  width: 47.46%;
  top: 11.54%;
  right: 25.99%;
  bottom: 36.54%;
  left: 26.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.appname,
.appnameDesktop {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.appname {
  line-height: 28px;
  display: flex;
  align-items: center;
}
.appnameDesktop {
  height: 100%;
  right: 0;
  bottom: 0;
  border-radius: 0 0 var(--br-lg) var(--br-lg);
}
.appnameDesktopWrapper,
.rectangleParent {
  position: absolute;
  height: 17.95%;
  width: 57.63%;
  top: 72.44%;
  right: 20.9%;
  bottom: 9.62%;
  left: 21.47%;
}
.rectangleParent {
  height: 100%;
  width: 12.29%;
  top: 0;
  right: 84.51%;
  bottom: 0;
  left: 3.19%;
  text-align: left;
  font-size: var(--font-size-15xl);
  color: var(--colors-humo);
}
.topNavigation {
  position: absolute;
  top: -2px;
  left: 0;
  width: 1440px;
  height: 156px;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--colors-darker-blurple);
  font-family: var(--regular);
}
