.footerDesktopChild {
  position: absolute;
  height: 82.72%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 17.28%;
  left: 0;
  background-color: var(--contra-blurple);
}
.groupIcon {
  position: absolute;
  height: 28.3%;
  width: 9.51%;
  top: 17.93%;
  right: 80.35%;
  bottom: 53.78%;
  left: 10.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.footerDesktopItem {
  position: absolute;
  height: 17.28%;
  width: 100%;
  top: 82.72%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--colors-darker-blurple);
}
.mainWebsite {
  margin-block-start: 0;
  margin-block-end: 13px;
}
.mainWebsiteContainer {
  position: absolute;
  height: 22.46%;
  width: 16.04%;
  top: 34.77%;
  left: 30.76%;
  line-height: 21px;
  white-space: pre-wrap;
  display: inline-block;
}
.p {
  margin: 0;
}
.equalHousingOpportunityContainer,
.helpCenterContainer {
  position: absolute;
  height: 38.44%;
  width: 15.28%;
  top: 34.34%;
  left: 54.1%;
  line-height: 21px;
  white-space: pre-wrap;
  display: inline-block;
}
.equalHousingOpportunityContainer {
  left: 76.88%;
}
.getHelp,
.visitHome {
  position: absolute;
  height: 4.54%;
  width: 15.07%;
  top: 20.95%;
  left: 53.89%;
  font-size: var(--semibold-size);
  line-height: 28px;
  display: inline-block;
}
.visitHome {
  width: 13.68%;
  top: 21.38%;
  left: 30.83%;
}
.sepratorInsetPad24Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--colors-humo-200);
}
.sepratorInsetPad24,
.sepratorInsetPad241,
.sepratorInsetPad242 {
  position: absolute;
  height: 0.43%;
  width: 18.06%;
  top: 29.16%;
  right: 51.18%;
  bottom: 70.41%;
  left: 30.76%;
  opacity: 0.2;
}
.sepratorInsetPad241,
.sepratorInsetPad242 {
  right: 28.13%;
  left: 53.82%;
}
.sepratorInsetPad242 {
  top: 28.94%;
  right: 5%;
  bottom: 70.63%;
  left: 76.94%;
}
.legalInformation {
  position: absolute;
  height: 4.54%;
  width: 15.07%;
  top: 21.38%;
  left: 76.94%;
  font-size: var(--semibold-size);
  line-height: 28px;
  display: inline-block;
}
.wereAProud {
  position: absolute;
  height: 5.83%;
  width: 32.92%;
  top: 88.34%;
  left: 8.89%;
  font-size: var(--medium-size);
  line-height: 26px;
  display: flex;
  align-items: center;
}
.pngaaa6Icon {
  position: absolute;
  height: 7.99%;
  width: 2.78%;
  top: 87.26%;
  right: 92.22%;
  bottom: 4.75%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.smallWhiteButtonChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-15xl);
  background-color: var(--colors-white);
  display: none;
}
.smallest {
  position: absolute;
  height: 90%;
  width: 78.13%;
  top: 7.5%;
  left: 9.38%;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smallWhiteButton {
  position: absolute;
  height: 8.64%;
  width: 11.11%;
  top: 58.53%;
  right: 58.61%;
  bottom: 32.83%;
  left: 30.28%;
  text-align: center;
  font-size: var(--medium-size);
  color: var(--colors-darker-blurple);
}
.housingOpportunityManagement {
  position: absolute;
  height: 6.48%;
  width: 32.5%;
  top: 88.34%;
  left: 63.4%;
  font-size: var(--regular1-size);
  line-height: 19px;
  text-align: right;
  display: flex;
  align-items: center;
}
.footerDesktop {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.housingOpportunityManagement1 {
  position: absolute;
  height: 34.66%;
  width: 100%;
  top: 65.34%;
  left: 0;
  line-height: 28px;
  display: inline-block;
}
.clientLogoIcon {
  position: absolute;
  height: 51.72%;
  width: 51.32%;
  top: 0;
  right: 24.15%;
  bottom: 48.28%;
  left: 24.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.housingOpportunityManagementParent {
  position: absolute;
  height: 54.21%;
  width: 18.4%;
  top: 18.14%;
  right: 75.69%;
  bottom: 27.65%;
  left: 5.9%;
  text-align: center;
  font-size: var(--bold-size);
}
.footer {
  position: absolute;
  top: 2219px;
  left: 0;
  width: 1440px;
  height: 463px;
  text-align: left;
  font-size: var(--regular-size);
  color: var(--colors-white);
  font-family: var(--semibold);
}
